<!-- Page Content -->
<div class="container" style="text-align: center;">
  <div class="row">
  <div class="col-lg-12 text-center" style="padding-top: 20px;">
      <div class="container" style="padding-left: 0px; padding-right: 0px;">
     <div class="row">
         <div class="col-sm" style="text-align: left;">
        <h1 class="subHeading">{{ title }}</h1>
         </div>
     </div>
      </div>
      <div class="container box" style="margin-top: 10px;">
     <div class="row">
         <div class="col" style="text-align: left;">
          <h3>Expanse Managment Application </h3>
        <p>Traditional ways of reporting and reimbursing expenses involve many unnecessary issues and risks. They include manual handling of physical receipts and manual verifications which are prone to fraud and error. The inefficiency of traditional expense management further weakens your employee morale, financial productivity, and your bottom line. To mitigate these risks, most leading companies resort to using an expense management software.

          Using an expense management software makes life easier for expense reporters as well as accountants and approvers. In today's eco-friendly and efficient work culture, it is a must-have tool for scale.</p>
         </div>
     </div>
      </div>
  </div>
   </div>
</div>
