<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
     <a class="navbar-brand" href="#">{{ title }}</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fas fa-home"></i> Home
                 <span class="sr-only" routerLink="/">(current)</span>
              </a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/expenses/add">Add Expense</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
           </li>
           <li class="nav-item">
                       <div *ngIf="isUserLoggedIn; else isLogOut">
                             <a class="nav-link" routerLink="/logout">Logout</a>
                       </div>

                       <ng-template #isLogOut>
                                   <a class="nav-link" routerLink="/login">Login</a>
                       </ng-template>
           </li>
        </ul>
     </div>
  </div>
</nav>

<router-outlet></router-outlet>
