
<!-- Page Content -->
<div class="container">
  <div class="row">
     <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
           <div class="row">
              <div class="col-sm" style="text-align: left;">
                 {{ title }}
              </div>
              <div class="col-sm" style="text-align: right;">
                <div class="col-sm" style="text-align: right;">
                  <button type="button" class="btn btn-primary" (click)="goToList()">Go to List</button>
                   <button type="button" class="btn btn-primary" (click)="goToEdit()">Edit</button>
               </div>
              </div>
           </div>
        </div>

        <div class="container box" style="margin-top: 10px;">
           <div class="row">
              <div class="col-2" style="text-align: right;">
                 <strong><em>Item:</em></strong>
              </div>
              <div class="col" style="text-align: left;">
                 {{ expenseEntry.item }}
              </div>
           </div>
           <div class="row">
              <div class="col-2" style="text-align: right;">
                 <strong><em>Amount:</em></strong>
              </div>
              <div class="col" style="text-align: left;">
                 {{ expenseEntry.amount }}
              </div>
           </div>
           <div class="row">
              <div class="col-2" style="text-align: right;">
                 <strong><em>Category:</em></strong>
              </div>
              <div class="col" style="text-align: left;">
                 {{ expenseEntry.category }}
              </div>
           </div>
           <div class="row">
              <div class="col-2" style="text-align: right;">
                 <strong><em>Location:</em></strong>
              </div>
              <div class="col" style="text-align: left;">
                 {{ expenseEntry.location }}
              </div>
           </div>
           <div class="row">
              <div class="col-2" style="text-align: right;">
                 <strong><em>Spend On:</em></strong>
              </div>
              <div class="col" style="text-align: left;">
                 {{ expenseEntry.spendOn }}
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

